
-- Migration: 20251021190511
-- Create enum types
CREATE TYPE public.fitness_level AS ENUM ('principiante', 'intermedio', 'avanzado');
CREATE TYPE public.fitness_goal AS ENUM ('bajar_peso', 'aumentar_masa', 'mantener_peso', 'tonificar', 'mejorar_resistencia');
CREATE TYPE public.app_role AS ENUM ('user', 'pro');
CREATE TYPE public.meal_type AS ENUM ('desayuno', 'colacion_am', 'comida', 'colacion_pm', 'cena');
CREATE TYPE public.workout_location AS ENUM ('casa', 'gimnasio', 'exterior');

-- Profiles table
CREATE TABLE public.profiles (
  id UUID PRIMARY KEY REFERENCES auth.users(id) ON DELETE CASCADE,
  full_name TEXT NOT NULL,
  fitness_level fitness_level NOT NULL DEFAULT 'principiante',
  fitness_goal fitness_goal NOT NULL DEFAULT 'mantener_peso',
  weight DECIMAL(5,2),
  height DECIMAL(5,2),
  age INTEGER,
  daily_calorie_goal INTEGER DEFAULT 2000,
  daily_protein_goal INTEGER DEFAULT 150,
  daily_carbs_goal INTEGER DEFAULT 200,
  daily_fat_goal INTEGER DEFAULT 50,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view own profile"
  ON public.profiles FOR SELECT
  USING (auth.uid() = id);

CREATE POLICY "Users can update own profile"
  ON public.profiles FOR UPDATE
  USING (auth.uid() = id);

CREATE POLICY "Users can insert own profile"
  ON public.profiles FOR INSERT
  WITH CHECK (auth.uid() = id);

-- User roles table
CREATE TABLE public.user_roles (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE NOT NULL,
  role app_role NOT NULL DEFAULT 'user',
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  UNIQUE(user_id, role)
);

ALTER TABLE public.user_roles ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view own roles"
  ON public.user_roles FOR SELECT
  USING (auth.uid() = user_id);

-- Meals tracking table
CREATE TABLE public.meals (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE NOT NULL,
  meal_type meal_type NOT NULL,
  name TEXT NOT NULL,
  calories INTEGER NOT NULL,
  protein INTEGER NOT NULL DEFAULT 0,
  carbs INTEGER NOT NULL DEFAULT 0,
  fat INTEGER NOT NULL DEFAULT 0,
  date DATE NOT NULL DEFAULT CURRENT_DATE,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

ALTER TABLE public.meals ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view own meals"
  ON public.meals FOR SELECT
  USING (auth.uid() = user_id);

CREATE POLICY "Users can insert own meals"
  ON public.meals FOR INSERT
  WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can update own meals"
  ON public.meals FOR UPDATE
  USING (auth.uid() = user_id);

CREATE POLICY "Users can delete own meals"
  ON public.meals FOR DELETE
  USING (auth.uid() = user_id);

-- Workouts table
CREATE TABLE public.workouts (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE NOT NULL,
  name TEXT NOT NULL,
  description TEXT,
  location workout_location NOT NULL DEFAULT 'casa',
  estimated_calories INTEGER DEFAULT 0,
  duration_minutes INTEGER,
  completed BOOLEAN DEFAULT FALSE,
  scheduled_date DATE NOT NULL,
  completed_at TIMESTAMPTZ,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

ALTER TABLE public.workouts ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view own workouts"
  ON public.workouts FOR SELECT
  USING (auth.uid() = user_id);

CREATE POLICY "Users can insert own workouts"
  ON public.workouts FOR INSERT
  WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can update own workouts"
  ON public.workouts FOR UPDATE
  USING (auth.uid() = user_id);

CREATE POLICY "Users can delete own workouts"
  ON public.workouts FOR DELETE
  USING (auth.uid() = user_id);

-- Workout exercises table
CREATE TABLE public.workout_exercises (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  workout_id UUID REFERENCES public.workouts(id) ON DELETE CASCADE NOT NULL,
  name TEXT NOT NULL,
  sets INTEGER,
  reps INTEGER,
  duration_minutes INTEGER,
  notes TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

ALTER TABLE public.workout_exercises ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view exercises from own workouts"
  ON public.workout_exercises FOR SELECT
  USING (EXISTS (
    SELECT 1 FROM public.workouts 
    WHERE workouts.id = workout_exercises.workout_id 
    AND workouts.user_id = auth.uid()
  ));

CREATE POLICY "Users can insert exercises to own workouts"
  ON public.workout_exercises FOR INSERT
  WITH CHECK (EXISTS (
    SELECT 1 FROM public.workouts 
    WHERE workouts.id = workout_exercises.workout_id 
    AND workouts.user_id = auth.uid()
  ));

CREATE POLICY "Users can update exercises in own workouts"
  ON public.workout_exercises FOR UPDATE
  USING (EXISTS (
    SELECT 1 FROM public.workouts 
    WHERE workouts.id = workout_exercises.workout_id 
    AND workouts.user_id = auth.uid()
  ));

CREATE POLICY "Users can delete exercises from own workouts"
  ON public.workout_exercises FOR DELETE
  USING (EXISTS (
    SELECT 1 FROM public.workouts 
    WHERE workouts.id = workout_exercises.workout_id 
    AND workouts.user_id = auth.uid()
  ));

-- Progress logs table
CREATE TABLE public.progress_logs (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE NOT NULL,
  weight DECIMAL(5,2),
  notes TEXT,
  log_date DATE NOT NULL DEFAULT CURRENT_DATE,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

ALTER TABLE public.progress_logs ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view own progress"
  ON public.progress_logs FOR SELECT
  USING (auth.uid() = user_id);

CREATE POLICY "Users can insert own progress"
  ON public.progress_logs FOR INSERT
  WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can update own progress"
  ON public.progress_logs FOR UPDATE
  USING (auth.uid() = user_id);

CREATE POLICY "Users can delete own progress"
  ON public.progress_logs FOR DELETE
  USING (auth.uid() = user_id);

-- Health data table (prepared for future integrations)
CREATE TABLE public.health_data (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE NOT NULL,
  data_type TEXT NOT NULL,
  data_value JSONB NOT NULL,
  recorded_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

ALTER TABLE public.health_data ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view own health data"
  ON public.health_data FOR SELECT
  USING (auth.uid() = user_id);

CREATE POLICY "Users can insert own health data"
  ON public.health_data FOR INSERT
  WITH CHECK (auth.uid() = user_id);

-- Function to update updated_at timestamp
CREATE OR REPLACE FUNCTION public.handle_updated_at()
RETURNS TRIGGER AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Trigger for profiles updated_at
CREATE TRIGGER update_profiles_updated_at
  BEFORE UPDATE ON public.profiles
  FOR EACH ROW
  EXECUTE FUNCTION public.handle_updated_at();

-- Function to create profile on signup
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER SET search_path = public
AS $$
BEGIN
  INSERT INTO public.profiles (id, full_name)
  VALUES (
    NEW.id,
    COALESCE(NEW.raw_user_meta_data->>'full_name', 'Usuario')
  );
  
  INSERT INTO public.user_roles (user_id, role)
  VALUES (NEW.id, 'user');
  
  RETURN NEW;
END;
$$;

-- Trigger to create profile on user signup
CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW
  EXECUTE FUNCTION public.handle_new_user();

-- Migration: 20251021205420
-- Agregar nuevos campos a la tabla profiles para el formulario completo de onboarding

-- SecciÃ³n 1: Datos personales bÃ¡sicos (edad ya existe, aÃ±adimos los demÃ¡s)
ALTER TABLE public.profiles 
ADD COLUMN IF NOT EXISTS gender text CHECK (gender IN ('masculino', 'femenino')),
ADD COLUMN IF NOT EXISTS onboarding_completed boolean DEFAULT false;

-- SecciÃ³n 2: Objetivos y nivel
ALTER TABLE public.profiles
ADD COLUMN IF NOT EXISTS primary_goal text,
ADD COLUMN IF NOT EXISTS training_types text[], -- Array para mÃºltiples opciones
ADD COLUMN IF NOT EXISTS available_days_per_week integer CHECK (available_days_per_week >= 1 AND available_days_per_week <= 7),
ADD COLUMN IF NOT EXISTS session_duration_minutes integer;

-- SecciÃ³n 3: Salud y condiciones fisiolÃ³gicas
ALTER TABLE public.profiles
ADD COLUMN IF NOT EXISTS health_conditions text[], -- Array para mÃºltiples condiciones
ADD COLUMN IF NOT EXISTS current_medications text,
ADD COLUMN IF NOT EXISTS injuries_limitations text;

-- SecciÃ³n 4: Seguimiento menstrual
ALTER TABLE public.profiles
ADD COLUMN IF NOT EXISTS menstrual_tracking_enabled boolean DEFAULT false,
ADD COLUMN IF NOT EXISTS menstrual_tracking_app text,
ADD COLUMN IF NOT EXISTS menstrual_auto_sync boolean DEFAULT false;

-- SecciÃ³n 5: NutriciÃ³n y hÃ¡bitos
ALTER TABLE public.profiles
ADD COLUMN IF NOT EXISTS dietary_preferences text[], -- Array para mÃºltiples preferencias
ADD COLUMN IF NOT EXISTS allergies_restrictions text,
ADD COLUMN IF NOT EXISTS current_calorie_intake integer,
ADD COLUMN IF NOT EXISTS average_sleep_hours numeric(3,1),
ADD COLUMN IF NOT EXISTS stress_level integer CHECK (stress_level >= 1 AND stress_level <= 5);

-- SecciÃ³n 6: Progreso inicial y motivaciÃ³n
ALTER TABLE public.profiles
ADD COLUMN IF NOT EXISTS initial_measurements jsonb, -- {waist, chest, arms, legs}
ADD COLUMN IF NOT EXISTS initial_photo_url text,
ADD COLUMN IF NOT EXISTS motivation_phrase text;

-- SecciÃ³n 7: Preferencias de app
ALTER TABLE public.profiles
ADD COLUMN IF NOT EXISTS theme_preference text DEFAULT 'auto' CHECK (theme_preference IN ('light', 'dark', 'auto')),
ADD COLUMN IF NOT EXISTS notifications_enabled boolean DEFAULT true,
ADD COLUMN IF NOT EXISTS wearables_sync_enabled boolean DEFAULT false,
ADD COLUMN IF NOT EXISTS terms_accepted boolean DEFAULT false;

-- Migration: 20251021221120
-- Primero eliminamos el trigger existente que crea perfiles automÃ¡ticamente
DROP TRIGGER IF EXISTS on_auth_user_created ON auth.users;
DROP FUNCTION IF EXISTS public.handle_new_user();

-- Creamos una nueva funciÃ³n que solo crea el user_role (sin crear el perfil)
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path TO 'public'
AS $function$
BEGIN
  -- Solo crear el rol de usuario, NO el perfil
  INSERT INTO public.user_roles (user_id, role)
  VALUES (NEW.id, 'user');
  
  RETURN NEW;
END;
$function$;

-- Recreamos el trigger
CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE PROCEDURE public.handle_new_user();

-- Migration: 20251021224014
-- Eliminar el trigger que causa el error
DROP TRIGGER IF EXISTS on_auth_user_created ON auth.users;

-- Eliminar la funciÃ³n del trigger
DROP FUNCTION IF EXISTS public.handle_new_user();

-- El user_role se crearÃ¡ desde la aplicaciÃ³n junto con el perfil;

-- Migration: 20251021224742
-- Permitir que los usuarios creen su propio rol durante el registro
CREATE POLICY "Users can insert own role during signup"
ON public.user_roles
FOR INSERT
TO authenticated
WITH CHECK (auth.uid() = user_id);

-- Migration: 20251021231943
-- Actualizamos el enum fitness_goal para incluir los valores correctos
-- Primero agregamos los nuevos valores al enum existente
ALTER TYPE public.fitness_goal ADD VALUE IF NOT EXISTS 'bajar_grasa';
ALTER TYPE public.fitness_goal ADD VALUE IF NOT EXISTS 'ganar_masa';
ALTER TYPE public.fitness_goal ADD VALUE IF NOT EXISTS 'rendimiento';

-- Migration: 20251022004000
-- Create foods table for nutritional tracking
CREATE TABLE public.foods (
  id SERIAL PRIMARY KEY,
  nombre TEXT NOT NULL,
  racion NUMERIC NOT NULL,
  unidad TEXT NOT NULL,
  calorias NUMERIC NOT NULL,
  proteinas NUMERIC NOT NULL,
  carbohidratos NUMERIC NOT NULL,
  grasas NUMERIC NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

-- Enable Row Level Security
ALTER TABLE public.foods ENABLE ROW LEVEL SECURITY;

-- Allow all users to read foods (public reference data)
CREATE POLICY "Anyone can view foods"
ON public.foods
FOR SELECT
USING (true);

-- Create index for faster searches
CREATE INDEX idx_foods_nombre ON public.foods(nombre);

-- Insert food data from CSV

-- Migration: 20251022004212
-- Fix function search_path mutable warning
-- Drop the function with CASCADE to remove dependent triggers
DROP FUNCTION IF EXISTS public.handle_updated_at() CASCADE;

-- Recreate the function with proper search_path
CREATE OR REPLACE FUNCTION public.handle_updated_at()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $function$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$function$;

-- Recreate the trigger on profiles table
CREATE TRIGGER update_profiles_updated_at
BEFORE UPDATE ON public.profiles
FOR EACH ROW
EXECUTE FUNCTION public.handle_updated_at();

-- Migration: 20251022020000
-- Create exercises table
CREATE TABLE public.exercises (
  id TEXT PRIMARY KEY,
  nombre TEXT NOT NULL,
  grupo_muscular TEXT NOT NULL,
  nivel TEXT NOT NULL,
  lugar TEXT NOT NULL,
  objetivo TEXT NOT NULL,
  tipo_entrenamiento TEXT NOT NULL,
  equipamiento TEXT,
  maquina_gym TEXT,
  descripcion TEXT NOT NULL,
  repeticiones_sugeridas INTEGER,
  series_sugeridas INTEGER,
  duracion_promedio_segundos INTEGER,
  calorias_por_repeticion NUMERIC,
  imagen TEXT,
  video TEXT,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

-- Enable RLS on exercises
ALTER TABLE public.exercises ENABLE ROW LEVEL SECURITY;

-- Everyone can view exercises (reference data)
CREATE POLICY "Anyone can view exercises"
ON public.exercises
FOR SELECT
USING (true);

-- Create pre-designed plans table
CREATE TABLE public.predesigned_plans (
  plan_id TEXT PRIMARY KEY,
  nombre_plan TEXT NOT NULL,
  objetivo TEXT NOT NULL,
  nivel TEXT NOT NULL,
  lugar TEXT NOT NULL,
  dias_semana INTEGER NOT NULL,
  ejercicios_ids_ordenados JSONB NOT NULL,
  descripcion_plan TEXT NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

-- Enable RLS on predesigned plans
ALTER TABLE public.predesigned_plans ENABLE ROW LEVEL SECURITY;

-- Everyone can view predesigned plans (reference data)
CREATE POLICY "Anyone can view predesigned plans"
ON public.predesigned_plans
FOR SELECT
USING (true);

-- Migration: 20251022023740
-- Add assigned_routine_id to profiles table
ALTER TABLE public.profiles
ADD COLUMN assigned_routine_id UUID REFERENCES public.workouts(id) ON DELETE SET NULL;

-- Create progress_tracking table
CREATE TABLE public.progress_tracking (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
  workout_id UUID REFERENCES public.workouts(id) ON DELETE SET NULL,
  date DATE NOT NULL DEFAULT CURRENT_DATE,
  weight NUMERIC,
  body_measurements JSONB,
  energy_level INTEGER CHECK (energy_level >= 1 AND energy_level <= 5),
  menstrual_phase TEXT,
  notes TEXT,
  exercises_completed JSONB,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now(),
  updated_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

-- Enable RLS on progress_tracking
ALTER TABLE public.progress_tracking ENABLE ROW LEVEL SECURITY;

-- RLS policies for progress_tracking
CREATE POLICY "Users can view own progress"
ON public.progress_tracking
FOR SELECT
USING (auth.uid() = user_id);

CREATE POLICY "Users can insert own progress"
ON public.progress_tracking
FOR INSERT
WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can update own progress"
ON public.progress_tracking
FOR UPDATE
USING (auth.uid() = user_id);

CREATE POLICY "Users can delete own progress"
ON public.progress_tracking
FOR DELETE
USING (auth.uid() = user_id);

-- Create trigger for progress_tracking updated_at
CREATE TRIGGER update_progress_tracking_updated_at
BEFORE UPDATE ON public.progress_tracking
FOR EACH ROW
EXECUTE FUNCTION public.handle_updated_at();

-- Add index for better query performance
CREATE INDEX idx_progress_tracking_user_date ON public.progress_tracking(user_id, date DESC);
CREATE INDEX idx_profiles_assigned_routine ON public.profiles(assigned_routine_id);

-- Migration: 20251022125128
-- Add available_weekdays column to profiles table
ALTER TABLE public.profiles 
ADD COLUMN available_weekdays integer[] DEFAULT NULL;

COMMENT ON COLUMN public.profiles.available_weekdays IS 'Specific weekdays available for training (1=Monday, 2=Tuesday, ..., 7=Sunday)';

-- Migration: 20251022131402
-- Rename plan_id to id in predesigned_plans table to match standard convention
ALTER TABLE public.predesigned_plans 
RENAME COLUMN plan_id TO id;

COMMENT ON COLUMN public.predesigned_plans.id IS 'Unique identifier for the predesigned plan';

-- Migration: 20251022131734
-- Adjust exercises table to allow CSV import
-- Make columns that aren't in the CSV nullable or provide defaults

ALTER TABLE public.exercises 
ALTER COLUMN lugar DROP NOT NULL,
ALTER COLUMN objetivo DROP NOT NULL;

-- Add default values for better data integrity
ALTER TABLE public.exercises 
ALTER COLUMN lugar SET DEFAULT 'casa',
ALTER COLUMN objetivo SET DEFAULT 'tonificar';

COMMENT ON COLUMN public.exercises.lugar IS 'Training location (casa/gimnasio/parque) - defaults to casa if not specified';
COMMENT ON COLUMN public.exercises.objetivo IS 'Training objective - defaults to tonificar if not specified';

-- Migration: 20251022133315
-- Modify predesigned_plans table to accommodate CSV data
-- Make ejercicios_ids_ordenados nullable since CSV doesn't include exercises
ALTER TABLE public.predesigned_plans 
ALTER COLUMN ejercicios_ids_ordenados DROP NOT NULL,
ALTER COLUMN ejercicios_ids_ordenados SET DEFAULT '[]'::jsonb;

-- Add comment for clarity
COMMENT ON COLUMN public.predesigned_plans.ejercicios_ids_ordenados IS 'Array of exercise IDs in order - can be empty for plans without assigned exercises yet';
COMMENT ON COLUMN public.predesigned_plans.nivel IS 'B = Principiante/BÃ¡sico, I = Intermedio, P = Profesional/Avanzado';
COMMENT ON COLUMN public.predesigned_plans.objetivo IS 'Can contain multiple objectives separated by commas (e.g., "Ganar Masa, Perder Grasa, Definir, Mantener" or single like "Fuerza")';

-- Migration: 20251022133559
-- Create plan_ejercicios table to link exercises to predesigned plans
CREATE TABLE public.plan_ejercicios (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  plan_id TEXT NOT NULL REFERENCES public.predesigned_plans(id) ON DELETE CASCADE,
  ejercicio_id TEXT NOT NULL REFERENCES public.exercises(id) ON DELETE CASCADE,
  dia INTEGER NOT NULL,
  orden INTEGER NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

-- Create indexes for better query performance
CREATE INDEX idx_plan_ejercicios_plan_id ON public.plan_ejercicios(plan_id);
CREATE INDEX idx_plan_ejercicios_ejercicio_id ON public.plan_ejercicios(ejercicio_id);
CREATE INDEX idx_plan_ejercicios_plan_dia ON public.plan_ejercicios(plan_id, dia);

-- Enable Row Level Security
ALTER TABLE public.plan_ejercicios ENABLE ROW LEVEL SECURITY;

-- Create policy for public read access (predesigned plans are public)
CREATE POLICY "Anyone can view plan exercises"
ON public.plan_ejercicios
FOR SELECT
USING (true);

-- Add comments for clarity
COMMENT ON TABLE public.plan_ejercicios IS 'Links exercises to predesigned workout plans with day and order information';
COMMENT ON COLUMN public.plan_ejercicios.plan_id IS 'Reference to the predesigned plan';
COMMENT ON COLUMN public.plan_ejercicios.ejercicio_id IS 'Reference to the exercise';
COMMENT ON COLUMN public.plan_ejercicios.dia IS 'Day number in the plan (1, 2, 3, etc.)';
COMMENT ON COLUMN public.plan_ejercicios.orden IS 'Order/position of the exercise within that day';

-- Migration: 20251022134714
-- Add tipo column to workouts table to distinguish between automatic and manual workouts
DO $$ 
BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'workout_type') THEN
    CREATE TYPE public.workout_type AS ENUM ('automatico', 'manual');
  END IF;
END $$;

ALTER TABLE public.workouts 
ADD COLUMN IF NOT EXISTS tipo public.workout_type DEFAULT 'manual';

-- Add index for better query performance on tipo and scheduled_date
CREATE INDEX IF NOT EXISTS idx_workouts_tipo ON public.workouts(tipo);
CREATE INDEX IF NOT EXISTS idx_workouts_scheduled_date ON public.workouts(scheduled_date);
CREATE INDEX IF NOT EXISTS idx_workouts_user_date ON public.workouts(user_id, scheduled_date);

-- Create function to automatically assign routine when user completes onboarding
CREATE OR REPLACE FUNCTION public.auto_assign_routine_on_onboarding()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  -- Only trigger if onboarding_completed changes from false to true
  IF NEW.onboarding_completed = true AND (OLD.onboarding_completed IS NULL OR OLD.onboarding_completed = false) THEN
    -- Call the assign-routine edge function asynchronously via pg_net (we'll handle this in the edge function instead)
    -- For now, we'll just update the profile, and the frontend will call assign-routine
    NULL;
  END IF;
  RETURN NEW;
END;
$$;

-- Create trigger for automatic routine assignment
DROP TRIGGER IF EXISTS trigger_auto_assign_routine ON public.profiles;
CREATE TRIGGER trigger_auto_assign_routine
  AFTER UPDATE ON public.profiles
  FOR EACH ROW
  EXECUTE FUNCTION public.auto_assign_routine_on_onboarding();

COMMENT ON COLUMN public.workouts.tipo IS 'Type of workout: automatico (from predesigned plan) or manual (user created)';
COMMENT ON FUNCTION public.auto_assign_routine_on_onboarding() IS 'Triggers automatic routine assignment when user completes onboarding';

-- Migration: 20251022160517
-- Drop existing policy
DROP POLICY IF EXISTS "Anyone can view predesigned plans" ON public.predesigned_plans;

-- Create new policy for authenticated users only
CREATE POLICY "Authenticated users can view predesigned plans"
ON public.predesigned_plans
FOR SELECT
TO authenticated
USING (true);

-- Migration: 20251022164159
-- Eliminar la foreign key incorrecta que apunta a workouts
ALTER TABLE profiles DROP CONSTRAINT IF EXISTS profiles_assigned_routine_id_fkey;

-- Cambiar el tipo de assigned_routine_id de uuid a text para que coincida con predesigned_plans.id
ALTER TABLE profiles ALTER COLUMN assigned_routine_id TYPE text USING assigned_routine_id::text;

-- AÃ±adir la foreign key correcta que apunta a predesigned_plans
ALTER TABLE profiles 
ADD CONSTRAINT profiles_assigned_routine_id_fkey 
FOREIGN KEY (assigned_routine_id) 
REFERENCES predesigned_plans(id) 
ON DELETE SET NULL;

COMMENT ON COLUMN profiles.assigned_routine_id IS 'ID del plan prediseÃ±ado asignado (referencia a predesigned_plans.id)';

-- Migration: 20251022205201
-- Cambiar el tipo de available_weekdays de integer[] a text[]
ALTER TABLE public.profiles 
ALTER COLUMN available_weekdays TYPE text[] USING available_weekdays::text[];
-- Add missing fields to workouts table for plan tracking and weekday consistency

-- Add plan_id to track which plan this workout belongs to
ALTER TABLE public.workouts 
ADD COLUMN plan_id text REFERENCES public.predesigned_plans(id);

-- Add weekday field (1-7, where 1=Monday, 7=Sunday) for consistent weekly scheduling
ALTER TABLE public.workouts 
ADD COLUMN weekday integer;

-- Add check constraint to ensure weekday is between 1 and 7
ALTER TABLE public.workouts 
ADD CONSTRAINT weekday_range CHECK (weekday IS NULL OR (weekday >= 1 AND weekday <= 7));

-- Create index for faster queries by plan_id and weekday
CREATE INDEX idx_workouts_plan_weekday ON public.workouts(plan_id, weekday);
CREATE INDEX idx_workouts_user_weekday ON public.workouts(user_id, weekday);
-- Enable Realtime for workouts table
ALTER PUBLICATION supabase_realtime ADD TABLE public.workouts;

-- Function to auto-calculate weekday from scheduled_date
-- weekday: 1=Monday, 2=Tuesday, ..., 7=Sunday
CREATE OR REPLACE FUNCTION public.calculate_weekday_from_date(date_val date)
RETURNS integer
LANGUAGE plpgsql
IMMUTABLE
AS $$
BEGIN
  -- EXTRACT(DOW) returns 0=Sunday, 1=Monday, ..., 6=Saturday
  -- We need 1=Monday, ..., 7=Sunday
  RETURN CASE 
    WHEN EXTRACT(DOW FROM date_val) = 0 THEN 7  -- Sunday
    ELSE EXTRACT(DOW FROM date_val)::integer    -- Monday-Saturday
  END;
END;
$$;

-- Trigger function to auto-populate weekday and validate automatic workouts
CREATE OR REPLACE FUNCTION public.workouts_before_insert_update()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  -- Auto-calculate weekday from scheduled_date if not provided
  IF NEW.weekday IS NULL AND NEW.scheduled_date IS NOT NULL THEN
    NEW.weekday := calculate_weekday_from_date(NEW.scheduled_date);
  END IF;

  -- Validate automatic workouts have required fields
  IF NEW.tipo = 'automatico' THEN
    IF NEW.plan_id IS NULL THEN
      RAISE EXCEPTION 'Automatic workouts must have a plan_id';
    END IF;
    
    IF NEW.weekday IS NULL THEN
      RAISE EXCEPTION 'Automatic workouts must have a weekday (1-7)';
    END IF;
  END IF;

  RETURN NEW;
END;
$$;

-- Create trigger
DROP TRIGGER IF EXISTS workouts_before_insert_update_trigger ON public.workouts;
CREATE TRIGGER workouts_before_insert_update_trigger
  BEFORE INSERT OR UPDATE ON public.workouts
  FOR EACH ROW
  EXECUTE FUNCTION public.workouts_before_insert_update();
-- Fix search_path for immutable function
CREATE OR REPLACE FUNCTION public.calculate_weekday_from_date(date_val date)
RETURNS integer
LANGUAGE plpgsql
IMMUTABLE
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  -- EXTRACT(DOW) returns 0=Sunday, 1=Monday, ..., 6=Saturday
  -- We need 1=Monday, ..., 7=Sunday
  RETURN CASE 
    WHEN EXTRACT(DOW FROM date_val) = 0 THEN 7  -- Sunday
    ELSE EXTRACT(DOW FROM date_val)::integer    -- Monday-Saturday
  END;
END;
$$;
-- Create security definer function to validate user ownership
CREATE OR REPLACE FUNCTION public.validate_user_ownership()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  -- For profiles table, ensure id matches auth.uid()
  IF TG_TABLE_NAME = 'profiles' THEN
    IF NEW.id != auth.uid() THEN
      RAISE EXCEPTION 'Cannot modify another user''s profile';
    END IF;
  END IF;
  
  -- For health_data table, ensure user_id matches auth.uid()
  IF TG_TABLE_NAME = 'health_data' THEN
    IF NEW.user_id != auth.uid() THEN
      RAISE EXCEPTION 'Cannot insert health data for another user';
    END IF;
  END IF;
  
  RETURN NEW;
END;
$$;

-- Add trigger to profiles table for INSERT and UPDATE
DROP TRIGGER IF EXISTS validate_profile_ownership ON public.profiles;
CREATE TRIGGER validate_profile_ownership
  BEFORE INSERT OR UPDATE ON public.profiles
  FOR EACH ROW
  EXECUTE FUNCTION public.validate_user_ownership();

-- Add trigger to health_data table for INSERT
DROP TRIGGER IF EXISTS validate_health_data_ownership ON public.health_data;
CREATE TRIGGER validate_health_data_ownership
  BEFORE INSERT ON public.health_data
  FOR EACH ROW
  EXECUTE FUNCTION public.validate_user_ownership();

-- Add DELETE policy for health_data (only users can delete their own data)
CREATE POLICY "Users can delete own health data"
ON public.health_data
FOR DELETE
USING (auth.uid() = user_id);

-- Ensure health_data cannot be updated by anyone (immutable records for audit trail)
-- This is already the case, but let's be explicit about it

-- Add additional constraint to profiles table
ALTER TABLE public.profiles 
  DROP CONSTRAINT IF EXISTS profiles_id_not_null;
ALTER TABLE public.profiles
  ADD CONSTRAINT profiles_id_not_null CHECK (id IS NOT NULL);

-- Add constraint to health_data table
ALTER TABLE public.health_data
  DROP CONSTRAINT IF EXISTS health_data_user_id_not_null;
ALTER TABLE public.health_data
  ADD CONSTRAINT health_data_user_id_not_null CHECK (user_id IS NOT NULL);
-- Create user_subscriptions table
CREATE TABLE user_subscriptions (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
  plan TEXT CHECK (plan IN ('mensual', 'anual')) NOT NULL,
  provider TEXT CHECK (provider IN ('stripe', 'paypal')) NOT NULL,
  status TEXT CHECK (status IN ('active', 'canceled', 'expired')) NOT NULL,
  start_date TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL,
  end_date TIMESTAMP WITH TIME ZONE,
  last_event TEXT,
  stripe_customer_id TEXT,
  stripe_subscription_id TEXT,
  paypal_subscription_id TEXT,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL
);

-- Enable RLS
ALTER TABLE user_subscriptions ENABLE ROW LEVEL SECURITY;

-- RLS Policy: Users can view only their own subscriptions
CREATE POLICY "Users can view own subscriptions"
ON user_subscriptions
FOR SELECT
USING (auth.uid() = user_id);

-- RLS Policy: Users can insert their own subscriptions (for initial setup)
CREATE POLICY "Users can insert own subscriptions"
ON user_subscriptions
FOR INSERT
WITH CHECK (auth.uid() = user_id);

-- Create index for faster lookups
CREATE INDEX idx_user_subscriptions_user_id ON user_subscriptions(user_id);
CREATE INDEX idx_user_subscriptions_status ON user_subscriptions(status);
-- Create security definer function to check user roles
-- This prevents recursive RLS policy issues
CREATE OR REPLACE FUNCTION public.has_role(_user_id uuid, _role app_role)
RETURNS boolean
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT EXISTS (
    SELECT 1
    FROM public.user_roles
    WHERE user_id = _user_id
      AND role = _role
  )
$$;

-- Add UPDATE policy for user_subscriptions
-- Regular users CANNOT update subscriptions (only webhooks via service role can)
-- Service role operations bypass RLS, so this blocks all authenticated users
CREATE POLICY "Users cannot update subscriptions"
ON public.user_subscriptions
FOR UPDATE
TO authenticated
USING (false)
WITH CHECK (false);

-- Add DELETE policy for user_subscriptions
-- Users cannot delete subscriptions (only service role can if needed)
CREATE POLICY "Users cannot delete subscriptions"
ON public.user_subscriptions
FOR DELETE
TO authenticated
USING (false);

-- Add comment for security documentation
COMMENT ON TABLE public.user_subscriptions IS 
'Contains sensitive payment data (Stripe/PayPal IDs). 
RLS policies: Users can only view/insert their own subscriptions. 
Updates/deletes only via service role (webhooks/admin operations).
All user_id columns enforce auth.uid() matching.';
-- Drop existing policies if they exist
DROP POLICY IF EXISTS "Users cannot update subscriptions" ON public.user_subscriptions;
DROP POLICY IF EXISTS "Users cannot delete subscriptions" ON public.user_subscriptions;
DROP POLICY IF EXISTS "Only service role can update subscriptions" ON public.user_subscriptions;
DROP POLICY IF EXISTS "Only admins can delete subscriptions" ON public.user_subscriptions;

-- Create security definer function to check user roles
-- This prevents recursive RLS policy issues
CREATE OR REPLACE FUNCTION public.has_role(_user_id uuid, _role app_role)
RETURNS boolean
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT EXISTS (
    SELECT 1
    FROM public.user_roles
    WHERE user_id = _user_id
      AND role = _role
  )
$$;

-- Add UPDATE policy for user_subscriptions
-- Regular users CANNOT update subscriptions (only webhooks via service role can)
-- Service role operations bypass RLS, so this blocks all authenticated users
CREATE POLICY "Block user subscription updates"
ON public.user_subscriptions
FOR UPDATE
TO authenticated
USING (false)
WITH CHECK (false);

-- Add DELETE policy for user_subscriptions
-- Users cannot delete subscriptions (only service role can if needed)
CREATE POLICY "Block user subscription deletes"
ON public.user_subscriptions
FOR DELETE
TO authenticated
USING (false);

-- Add comment for security documentation
COMMENT ON TABLE public.user_subscriptions IS 
'SECURITY: Contains sensitive payment data (Stripe/PayPal IDs). 
RLS enforces: Users can only SELECT/INSERT their own subscriptions. 
UPDATE/DELETE blocked for all users - only service role (webhooks) can modify.
All operations validate user_id = auth.uid().';
-- Create security definer function to check user roles
-- This prevents recursive RLS policy issues
CREATE OR REPLACE FUNCTION public.has_role(_user_id uuid, _role app_role)
RETURNS boolean
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT EXISTS (
    SELECT 1
    FROM public.user_roles
    WHERE user_id = _user_id
      AND role = _role
  )
$$;

-- Add UPDATE policy for user_subscriptions
-- Regular users CANNOT update subscriptions
-- Only webhooks via service role can update (this policy is bypassed by service role)
CREATE POLICY "Users cannot update subscriptions"
ON public.user_subscriptions
FOR UPDATE
TO authenticated
USING (false)
WITH CHECK (false);

-- Add DELETE policy for user_subscriptions  
-- Regular users CANNOT delete subscriptions
-- Service role can still delete if needed (bypasses RLS)
CREATE POLICY "Users cannot delete subscriptions"
ON public.user_subscriptions
FOR DELETE
TO authenticated
USING (false);

-- Add comment for security documentation
COMMENT ON TABLE public.user_subscriptions IS 
'Contains sensitive payment data (Stripe/PayPal IDs). Access strictly restricted by RLS policies. 
Only authenticated users can view their own subscriptions.
Updates/deletes only via service role (webhooks/admin operations).';
-- Add DELETE policy for profiles
-- Users can only delete their own profile
CREATE POLICY "Users can delete own profile"
ON public.profiles
FOR DELETE
TO authenticated
USING (auth.uid() = id);

-- Create trigger to prevent profile ID modification
-- This ensures the profile ID always matches the auth user
CREATE OR REPLACE FUNCTION public.prevent_profile_id_change()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  -- Prevent changing the profile ID
  IF OLD.id IS DISTINCT FROM NEW.id THEN
    RAISE EXCEPTION 'Cannot modify profile ID. This violates security policy.';
  END IF;
  
  -- Ensure the ID matches the authenticated user
  IF NEW.id != auth.uid() THEN
    RAISE EXCEPTION 'Profile ID must match authenticated user ID.';
  END IF;
  
  RETURN NEW;
END;
$$;

-- Apply trigger to profiles table
DROP TRIGGER IF EXISTS enforce_profile_id_security ON public.profiles;
CREATE TRIGGER enforce_profile_id_security
  BEFORE UPDATE ON public.profiles
  FOR EACH ROW
  EXECUTE FUNCTION public.prevent_profile_id_change();

-- Add security comment to the table
COMMENT ON TABLE public.profiles IS 
'CRITICAL SECURITY: Contains highly sensitive personal health data (PHI).
RLS policies enforce: Users can only SELECT/INSERT/UPDATE/DELETE their own profile.
Additional protections: 
  - Trigger prevents profile ID modification
  - All operations validate id = auth.uid()
  - No public or anon access allowed
Recommendations:
  - Enable MFA for all users handling health data
  - Implement rate limiting on profile access
  - Enable audit logging for compliance
  - Use HTTPS only for all communications';

-- Add security comment to sensitive columns
COMMENT ON COLUMN public.profiles.health_conditions IS 'HIPAA/PHI: Protected health information';
COMMENT ON COLUMN public.profiles.current_medications IS 'HIPAA/PHI: Protected health information';
COMMENT ON COLUMN public.profiles.injuries_limitations IS 'HIPAA/PHI: Protected health information';
COMMENT ON COLUMN public.profiles.menstrual_tracking_enabled IS 'HIPAA/PHI: Protected health information';
COMMENT ON COLUMN public.profiles.stress_level IS 'HIPAA/PHI: Protected health information';
COMMENT ON COLUMN public.profiles.average_sleep_hours IS 'HIPAA/PHI: Protected health information';
-- Enable pgcrypto extension for encryption
CREATE EXTENSION IF NOT EXISTS pgcrypto;

-- Create encrypted columns for the most sensitive health data
ALTER TABLE public.profiles 
ADD COLUMN IF NOT EXISTS health_conditions_encrypted TEXT,
ADD COLUMN IF NOT EXISTS current_medications_encrypted TEXT,
ADD COLUMN IF NOT EXISTS injuries_limitations_encrypted TEXT,
ADD COLUMN IF NOT EXISTS allergies_restrictions_encrypted TEXT;

-- Create a secure encryption key function (uses a secret key from environment)
-- In production, this key should be stored in Supabase secrets
CREATE OR REPLACE FUNCTION public.get_encryption_key()
RETURNS TEXT
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  -- This uses a project-specific key. In production, consider using Vault
  RETURN current_setting('app.settings.encryption_key', true);
EXCEPTION
  WHEN OTHERS THEN
    -- Fallback to a hash of the database identifier
    RETURN encode(digest(current_database() || 'health_data_key', 'sha256'), 'hex');
END;
$$;

-- Create function to encrypt sensitive health data
CREATE OR REPLACE FUNCTION public.encrypt_health_data(data TEXT)
RETURNS TEXT
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  IF data IS NULL OR data = '' THEN
    RETURN NULL;
  END IF;
  
  RETURN encode(
    pgp_sym_encrypt(data, get_encryption_key()),
    'base64'
  );
END;
$$;

-- Create function to decrypt sensitive health data
CREATE OR REPLACE FUNCTION public.decrypt_health_data(encrypted_data TEXT)
RETURNS TEXT
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  IF encrypted_data IS NULL OR encrypted_data = '' THEN
    RETURN NULL;
  END IF;
  
  RETURN pgp_sym_decrypt(
    decode(encrypted_data, 'base64'),
    get_encryption_key()
  );
EXCEPTION
  WHEN OTHERS THEN
    RETURN NULL;
END;
$$;

-- Create trigger function to automatically encrypt sensitive fields
CREATE OR REPLACE FUNCTION public.encrypt_profile_health_data()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  -- Encrypt health_conditions if it's an array, convert to JSON first
  IF NEW.health_conditions IS NOT NULL THEN
    NEW.health_conditions_encrypted := encrypt_health_data(NEW.health_conditions::text);
  END IF;
  
  -- Encrypt medications
  IF NEW.current_medications IS NOT NULL THEN
    NEW.current_medications_encrypted := encrypt_health_data(NEW.current_medications);
  END IF;
  
  -- Encrypt injuries/limitations
  IF NEW.injuries_limitations IS NOT NULL THEN
    NEW.injuries_limitations_encrypted := encrypt_health_data(NEW.injuries_limitations);
  END IF;
  
  -- Encrypt allergies
  IF NEW.allergies_restrictions IS NOT NULL THEN
    NEW.allergies_restrictions_encrypted := encrypt_health_data(NEW.allergies_restrictions);
  END IF;
  
  RETURN NEW;
END;
$$;

-- Create trigger to encrypt data on insert and update
DROP TRIGGER IF EXISTS encrypt_health_data_trigger ON public.profiles;
CREATE TRIGGER encrypt_health_data_trigger
  BEFORE INSERT OR UPDATE ON public.profiles
  FOR EACH ROW
  EXECUTE FUNCTION public.encrypt_profile_health_data();

-- Add additional validation trigger to ensure user_id matches auth
CREATE OR REPLACE FUNCTION public.validate_profile_access()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  -- Ensure that the profile ID always matches the authenticated user
  IF NEW.id != auth.uid() THEN
    RAISE EXCEPTION 'Security violation: Profile ID must match authenticated user';
  END IF;
  
  -- Log access to sensitive health data (for audit purposes)
  IF TG_OP = 'UPDATE' AND (
    OLD.health_conditions IS DISTINCT FROM NEW.health_conditions OR
    OLD.current_medications IS DISTINCT FROM NEW.current_medications OR
    OLD.injuries_limitations IS DISTINCT FROM NEW.injuries_limitations
  ) THEN
    -- In a production system, this would log to an audit table
    RAISE NOTICE 'Health data modified for user %', NEW.id;
  END IF;
  
  RETURN NEW;
END;
$$;

DROP TRIGGER IF EXISTS validate_profile_access_trigger ON public.profiles;
CREATE TRIGGER validate_profile_access_trigger
  BEFORE INSERT OR UPDATE ON public.profiles
  FOR EACH ROW
  EXECUTE FUNCTION public.validate_profile_access();

-- Add a comment to document the security measures
COMMENT ON TABLE public.profiles IS 'Contains user profile data with encrypted sensitive health information. RLS policies enforce user-level access. Sensitive fields (health_conditions, current_medications, injuries_limitations, allergies_restrictions) are automatically encrypted using pgcrypto.';

-- Strengthen RLS by ensuring no gaps in policy coverage
-- Re-create policies with explicit checks
DROP POLICY IF EXISTS "Users can view own profile" ON public.profiles;
CREATE POLICY "Users can view own profile" 
ON public.profiles 
FOR SELECT 
USING (
  auth.uid() IS NOT NULL AND 
  auth.uid() = id
);

DROP POLICY IF EXISTS "Users can update own profile" ON public.profiles;
CREATE POLICY "Users can update own profile" 
ON public.profiles 
FOR UPDATE 
USING (
  auth.uid() IS NOT NULL AND 
  auth.uid() = id
)
WITH CHECK (
  auth.uid() IS NOT NULL AND 
  auth.uid() = id
);

DROP POLICY IF EXISTS "Users can insert own profile" ON public.profiles;
CREATE POLICY "Users can insert own profile" 
ON public.profiles 
FOR INSERT 
WITH CHECK (
  auth.uid() IS NOT NULL AND 
  auth.uid() = id
);

DROP POLICY IF EXISTS "Users can delete own profile" ON public.profiles;
CREATE POLICY "Users can delete own profile" 
ON public.profiles 
FOR DELETE 
USING (
  auth.uid() IS NOT NULL AND 
  auth.uid() = id
);

-- Add security labels for compliance tracking
COMMENT ON COLUMN public.profiles.health_conditions IS 'ENCRYPTED - PHI/HIPAA - Array of health conditions, automatically encrypted';
COMMENT ON COLUMN public.profiles.current_medications IS 'ENCRYPTED - PHI/HIPAA - Current medications, automatically encrypted';
COMMENT ON COLUMN public.profiles.injuries_limitations IS 'ENCRYPTED - PHI/HIPAA - Injuries and physical limitations, automatically encrypted';
COMMENT ON COLUMN public.profiles.allergies_restrictions IS 'ENCRYPTED - PHI/HIPAA - Allergies and dietary restrictions, automatically encrypted';
-- Habilitar realtime para la tabla user_roles
-- Esto permite que el frontend detecte cambios cuando el webhook actualiza el rol a PRO
ALTER TABLE public.user_roles REPLICA IDENTITY FULL;
ALTER PUBLICATION supabase_realtime ADD TABLE public.user_roles;

-- Habilitar realtime para la tabla user_subscriptions  
-- Esto permite detectar cuando una suscripciÃ³n se activa, cancela o renueva
ALTER TABLE public.user_subscriptions REPLICA IDENTITY FULL;
ALTER PUBLICATION supabase_realtime ADD TABLE public.user_subscriptions;
-- Fix encrypt_health_data to use extensions schema
CREATE OR REPLACE FUNCTION public.encrypt_health_data(data text)
RETURNS text
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path TO 'public'
AS $$
BEGIN
  IF data IS NULL OR data = '' THEN
    RETURN NULL;
  END IF;
  
  RETURN encode(
    extensions.pgp_sym_encrypt(data, get_encryption_key()),
    'base64'
  );
END;
$$;

-- Fix decrypt_health_data to use extensions schema
CREATE OR REPLACE FUNCTION public.decrypt_health_data(encrypted_data text)
RETURNS text
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path TO 'public'
AS $$
BEGIN
  IF encrypted_data IS NULL OR encrypted_data = '' THEN
    RETURN NULL;
  END IF;
  
  RETURN extensions.pgp_sym_decrypt(
    decode(encrypted_data, 'base64'),
    get_encryption_key()
  );
EXCEPTION
  WHEN OTHERS THEN
    RETURN NULL;
END;
$$;
-- Crear bucket para imÃ¡genes de ejercicios
INSERT INTO storage.buckets (id, name, public)
VALUES ('exercise-images', 'exercise-images', true);

-- Crear bucket para videos de ejercicios
INSERT INTO storage.buckets (id, name, public)
VALUES ('exercise-videos', 'exercise-videos', true);

-- PolÃ­tica: Cualquiera puede ver las imÃ¡genes (pÃºblico)
CREATE POLICY "Public can view exercise images"
ON storage.objects
FOR SELECT
USING (bucket_id = 'exercise-images');

-- PolÃ­tica: Cualquiera puede ver los videos (pÃºblico)
CREATE POLICY "Public can view exercise videos"
ON storage.objects
FOR SELECT
USING (bucket_id = 'exercise-videos');

-- PolÃ­tica: Solo usuarios autenticados pueden subir imÃ¡genes
CREATE POLICY "Authenticated users can upload exercise images"
ON storage.objects
FOR INSERT
TO authenticated
WITH CHECK (bucket_id = 'exercise-images');

-- PolÃ­tica: Solo usuarios autenticados pueden subir videos
CREATE POLICY "Authenticated users can upload exercise videos"
ON storage.objects
FOR INSERT
TO authenticated
WITH CHECK (bucket_id = 'exercise-videos');

-- PolÃ­tica: Solo usuarios autenticados pueden actualizar imÃ¡genes
CREATE POLICY "Authenticated users can update exercise images"
ON storage.objects
FOR UPDATE
TO authenticated
USING (bucket_id = 'exercise-images');

-- PolÃ­tica: Solo usuarios autenticados pueden actualizar videos
CREATE POLICY "Authenticated users can update exercise videos"
ON storage.objects
FOR UPDATE
TO authenticated
USING (bucket_id = 'exercise-videos');

-- PolÃ­tica: Solo usuarios autenticados pueden eliminar imÃ¡genes
CREATE POLICY "Authenticated users can delete exercise images"
ON storage.objects
FOR DELETE
TO authenticated
USING (bucket_id = 'exercise-images');

-- PolÃ­tica: Solo usuarios autenticados pueden eliminar videos
CREATE POLICY "Authenticated users can delete exercise videos"
ON storage.objects
FOR DELETE
TO authenticated
USING (bucket_id = 'exercise-videos');
-- =============================================
-- SISTEMA DE DIFERENCIACIÃ“N FREE/PRO
-- =============================================

-- 1. AÃ±adir campos de salud detallados a profiles
ALTER TABLE public.profiles 
ADD COLUMN IF NOT EXISTS fase_menstrual_actual text,
ADD COLUMN IF NOT EXISTS lesiones_activas text[],
ADD COLUMN IF NOT EXISTS nivel_fatiga integer CHECK (nivel_fatiga >= 1 AND nivel_fatiga <= 10);

-- Comentarios para documentaciÃ³n
COMMENT ON COLUMN public.profiles.fase_menstrual_actual IS 'Fase menstrual calculada: menstrual, folicular, ovulacion, lutea';
COMMENT ON COLUMN public.profiles.lesiones_activas IS 'Array de lesiones/limitaciones actuales del usuario';
COMMENT ON COLUMN public.profiles.nivel_fatiga IS 'Nivel de fatiga 1-10, usado para ajustar entrenamientos';

-- 2. Crear tabla para tracking menstrual (solo PRO)
CREATE TABLE IF NOT EXISTS public.menstrual_logs (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id uuid NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
  period_start_date date NOT NULL,
  period_end_date date,
  cycle_length integer DEFAULT 28,
  period_length integer DEFAULT 5,
  symptoms text[],
  notes text,
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now(),
  UNIQUE(user_id, period_start_date)
);

-- Ãndices para menstrual_logs
CREATE INDEX IF NOT EXISTS idx_menstrual_logs_user_id ON public.menstrual_logs(user_id);
CREATE INDEX IF NOT EXISTS idx_menstrual_logs_period_start ON public.menstrual_logs(period_start_date DESC);

-- Habilitar RLS en menstrual_logs
ALTER TABLE public.menstrual_logs ENABLE ROW LEVEL SECURITY;

-- PolÃ­ticas RLS para menstrual_logs
CREATE POLICY "Users can view own menstrual logs"
  ON public.menstrual_logs FOR SELECT
  USING (auth.uid() = user_id);

CREATE POLICY "Users can insert own menstrual logs"
  ON public.menstrual_logs FOR INSERT
  WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can update own menstrual logs"
  ON public.menstrual_logs FOR UPDATE
  USING (auth.uid() = user_id);

CREATE POLICY "Users can delete own menstrual logs"
  ON public.menstrual_logs FOR DELETE
  USING (auth.uid() = user_id);

-- Trigger para updated_at en menstrual_logs
CREATE TRIGGER update_menstrual_logs_updated_at
  BEFORE UPDATE ON public.menstrual_logs
  FOR EACH ROW
  EXECUTE FUNCTION public.handle_updated_at();

-- 3. FunciÃ³n para verificar si un usuario es PRO
CREATE OR REPLACE FUNCTION public.is_user_pro(_user_id uuid)
RETURNS boolean
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT EXISTS (
    SELECT 1
    FROM public.user_subscriptions
    WHERE user_id = _user_id
      AND status = 'active'
      AND plan = 'pro'
      AND (end_date IS NULL OR end_date > now())
  )
$$;

-- 4. FunciÃ³n para calcular fase menstrual actual
CREATE OR REPLACE FUNCTION public.calculate_menstrual_phase(_user_id uuid)
RETURNS text
LANGUAGE plpgsql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  last_period_start date;
  cycle_len integer;
  days_since_period integer;
  phase text;
BEGIN
  -- Obtener el Ãºltimo registro de periodo
  SELECT period_start_date, cycle_length 
  INTO last_period_start, cycle_len
  FROM public.menstrual_logs
  WHERE user_id = _user_id
  ORDER BY period_start_date DESC
  LIMIT 1;
  
  -- Si no hay registros, retornar null
  IF last_period_start IS NULL THEN
    RETURN NULL;
  END IF;
  
  -- Calcular dÃ­as desde el inicio del Ãºltimo periodo
  days_since_period := CURRENT_DATE - last_period_start;
  
  -- Ajustar si estamos en un nuevo ciclo
  IF days_since_period >= cycle_len THEN
    days_since_period := days_since_period % cycle_len;
  END IF;
  
  -- Determinar fase (aproximaciÃ³n estÃ¡ndar de 28 dÃ­as)
  -- DÃ­as 1-5: Menstrual
  -- DÃ­as 6-13: Folicular
  -- DÃ­as 14-16: OvulaciÃ³n
  -- DÃ­as 17-28: LÃºtea
  IF days_since_period <= 5 THEN
    phase := 'menstrual';
  ELSIF days_since_period <= 13 THEN
    phase := 'folicular';
  ELSIF days_since_period <= 16 THEN
    phase := 'ovulacion';
  ELSE
    phase := 'lutea';
  END IF;
  
  RETURN phase;
END;
$$;

-- Comentario para la funciÃ³n
COMMENT ON FUNCTION public.is_user_pro IS 'Verifica si un usuario tiene suscripciÃ³n PRO activa';
COMMENT ON FUNCTION public.calculate_menstrual_phase IS 'Calcula la fase menstrual actual basada en los logs';
-- =====================================================
-- PARCHE ADITIVO: Dev Override para acceso Pro
-- NO destructivo, NO modifica lÃ³gica existente
-- =====================================================

-- 1. AÃ±adir campo dev_override a profiles (default false)
ALTER TABLE public.profiles 
ADD COLUMN IF NOT EXISTS dev_override boolean DEFAULT false;

-- 2. Comentario descriptivo
COMMENT ON COLUMN public.profiles.dev_override IS 'Override de desarrollo para acceso Pro. Solo efectivo para usuarios admin.';

-- 3. Crear funciÃ³n de verificaciÃ³n de override (ADITIVA, no reemplaza is_user_pro)
CREATE OR REPLACE FUNCTION public.has_dev_pro_override(_user_id uuid)
RETURNS boolean
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT EXISTS (
    SELECT 1
    FROM public.profiles p
    WHERE p.id = _user_id
      AND p.dev_override = true
  )
$$;

-- 4. Comentario descriptivo de la funciÃ³n
COMMENT ON FUNCTION public.has_dev_pro_override IS 'Verifica si un usuario tiene el override de desarrollo activo. FunciÃ³n ADITIVA que no reemplaza is_user_pro.';
-- =====================================================
-- MÃ“DULO IA SENDAFIT - TABLAS PARA FUNCIONALIDADES INTELIGENTES
-- AnÃ¡lisis de comida, escÃ¡ner de mÃ¡quinas, chat entrenador
-- =====================================================

-- 1. Tabla para anÃ¡lisis de comida con IA (Food Vision)
CREATE TABLE public.food_analysis_logs (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id uuid NOT NULL REFERENCES public.profiles(id) ON DELETE CASCADE,
  image_url text NOT NULL,
  detected_foods jsonb DEFAULT '[]'::jsonb,
  estimated_macros jsonb DEFAULT '{}'::jsonb,
  adjusted_macros jsonb DEFAULT '{}'::jsonb,
  saved_to_daily boolean DEFAULT false,
  analysis_date date NOT NULL DEFAULT CURRENT_DATE,
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now()
);

-- Comentarios descriptivos
COMMENT ON TABLE public.food_analysis_logs IS 'Registros de anÃ¡lisis de comida con IA (Food Vision)';
COMMENT ON COLUMN public.food_analysis_logs.detected_foods IS 'Array de alimentos detectados: [{name, portion, confidence}]';
COMMENT ON COLUMN public.food_analysis_logs.estimated_macros IS 'Macros estimados por IA: {calories, protein, carbs, fat}';
COMMENT ON COLUMN public.food_analysis_logs.adjusted_macros IS 'Macros ajustados por usuario: {calories, protein, carbs, fat}';

-- RLS para food_analysis_logs
ALTER TABLE public.food_analysis_logs ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view own food analysis" ON public.food_analysis_logs
  FOR SELECT USING (auth.uid() = user_id);

CREATE POLICY "Users can insert own food analysis" ON public.food_analysis_logs
  FOR INSERT WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can update own food analysis" ON public.food_analysis_logs
  FOR UPDATE USING (auth.uid() = user_id);

CREATE POLICY "Users can delete own food analysis" ON public.food_analysis_logs
  FOR DELETE USING (auth.uid() = user_id);

-- Trigger para updated_at
CREATE TRIGGER update_food_analysis_logs_updated_at
  BEFORE UPDATE ON public.food_analysis_logs
  FOR EACH ROW
  EXECUTE FUNCTION public.handle_updated_at();

-- 2. Tabla para historial de escaneo de mÃ¡quinas de gym
CREATE TABLE public.machine_scan_history (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id uuid NOT NULL REFERENCES public.profiles(id) ON DELETE CASCADE,
  image_url text NOT NULL,
  machine_name text,
  machine_type text,
  primary_muscles text[] DEFAULT '{}',
  secondary_muscles text[] DEFAULT '{}',
  usage_instructions text,
  posture_tips text,
  related_exercises jsonb DEFAULT '[]'::jsonb,
  created_at timestamptz NOT NULL DEFAULT now()
);

COMMENT ON TABLE public.machine_scan_history IS 'Historial de mÃ¡quinas de gym escaneadas con IA';
COMMENT ON COLUMN public.machine_scan_history.related_exercises IS 'Ejercicios relacionados: [{name, description}]';

-- RLS para machine_scan_history
ALTER TABLE public.machine_scan_history ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view own machine scans" ON public.machine_scan_history
  FOR SELECT USING (auth.uid() = user_id);

CREATE POLICY "Users can insert own machine scans" ON public.machine_scan_history
  FOR INSERT WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can delete own machine scans" ON public.machine_scan_history
  FOR DELETE USING (auth.uid() = user_id);

-- 3. Tabla para conversaciones del chat IA entrenador
CREATE TABLE public.ai_trainer_conversations (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id uuid NOT NULL REFERENCES public.profiles(id) ON DELETE CASCADE,
  conversation_type text NOT NULL CHECK (conversation_type IN ('general', 'routine', 'meal_plan', 'advice')),
  title text,
  messages jsonb DEFAULT '[]'::jsonb,
  generated_content jsonb DEFAULT '{}'::jsonb,
  saved_to_app boolean DEFAULT false,
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now()
);

COMMENT ON TABLE public.ai_trainer_conversations IS 'Conversaciones con el entrenador IA';
COMMENT ON COLUMN public.ai_trainer_conversations.messages IS 'Historial de mensajes: [{role, content, timestamp}]';
COMMENT ON COLUMN public.ai_trainer_conversations.generated_content IS 'Contenido generado (rutinas, planes, etc.)';

-- RLS para ai_trainer_conversations
ALTER TABLE public.ai_trainer_conversations ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view own conversations" ON public.ai_trainer_conversations
  FOR SELECT USING (auth.uid() = user_id);

CREATE POLICY "Users can insert own conversations" ON public.ai_trainer_conversations
  FOR INSERT WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can update own conversations" ON public.ai_trainer_conversations
  FOR UPDATE USING (auth.uid() = user_id);

CREATE POLICY "Users can delete own conversations" ON public.ai_trainer_conversations
  FOR DELETE USING (auth.uid() = user_id);

-- Trigger para updated_at
CREATE TRIGGER update_ai_conversations_updated_at
  BEFORE UPDATE ON public.ai_trainer_conversations
  FOR EACH ROW
  EXECUTE FUNCTION public.handle_updated_at();

-- 4. Storage bucket para imÃ¡genes de anÃ¡lisis IA
INSERT INTO storage.buckets (id, name, public)
VALUES ('ai-analysis-images', 'ai-analysis-images', true)
ON CONFLICT (id) DO NOTHING;

-- PolÃ­ticas de storage para el bucket
CREATE POLICY "Anyone can view AI analysis images" ON storage.objects
  FOR SELECT USING (bucket_id = 'ai-analysis-images');

CREATE POLICY "Users can upload AI analysis images" ON storage.objects
  FOR INSERT WITH CHECK (
    bucket_id = 'ai-analysis-images' 
    AND auth.uid()::text = (storage.foldername(name))[1]
  );

CREATE POLICY "Users can delete own AI analysis images" ON storage.objects
  FOR DELETE USING (
    bucket_id = 'ai-analysis-images' 
    AND auth.uid()::text = (storage.foldername(name))[1]
  );

-- Create app_config table for global feature flags
CREATE TABLE public.app_config (
  id uuid NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  key text NOT NULL UNIQUE,
  value boolean NOT NULL DEFAULT false,
  updated_at timestamp with time zone NOT NULL DEFAULT now()
);

-- Enable RLS
ALTER TABLE public.app_config ENABLE ROW LEVEL SECURITY;

-- Everyone can read app_config (global flags)
CREATE POLICY "Anyone can read app_config"
ON public.app_config FOR SELECT
USING (true);

-- No one can modify via client (admin-only via service role)
-- No INSERT/UPDATE/DELETE policies = blocked for anon/authenticated

-- Seed default global flags
INSERT INTO public.app_config (key, value) VALUES
  ('aiEnabled', false),
  ('foodAIEnabled', false),
  ('gymAIEnabled', false),
  ('coachAIEnabled', false);

-- Create user_settings table for per-user flags
CREATE TABLE public.user_settings (
  user_id uuid PRIMARY KEY REFERENCES auth.users(id) ON DELETE CASCADE,
  is_pro boolean NOT NULL DEFAULT false,
  dev_mode boolean NOT NULL DEFAULT false,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now()
);

-- Enable RLS
ALTER TABLE public.user_settings ENABLE ROW LEVEL SECURITY;

-- Users can read their own settings
CREATE POLICY "Users can read own settings"
ON public.user_settings FOR SELECT
USING (auth.uid() = user_id);

-- Users can update their own settings (but dev_mode should only be set by admins via service role)
CREATE POLICY "Users can update own settings"
ON public.user_settings FOR UPDATE
USING (auth.uid() = user_id);

-- Users can insert their own settings
CREATE POLICY "Users can insert own settings"
ON public.user_settings FOR INSERT
WITH CHECK (auth.uid() = user_id);

-- Trigger to auto-create user_settings on profile creation
CREATE OR REPLACE FUNCTION public.create_user_settings_on_signup()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  INSERT INTO public.user_settings (user_id)
  VALUES (NEW.id)
  ON CONFLICT (user_id) DO NOTHING;
  RETURN NEW;
END;
$$;

CREATE TRIGGER on_profile_created_create_settings
AFTER INSERT ON public.profiles
FOR EACH ROW
EXECUTE FUNCTION public.create_user_settings_on_signup();

-- Auto-update updated_at
CREATE TRIGGER update_app_config_updated_at
BEFORE UPDATE ON public.app_config
FOR EACH ROW
EXECUTE FUNCTION public.handle_updated_at();

CREATE TRIGGER update_user_settings_updated_at
BEFORE UPDATE ON public.user_settings
FOR EACH ROW
EXECUTE FUNCTION public.handle_updated_at();
